[Unit]
Description=Solaredge RTU bridge

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=solaredge-rtu-bridge

ExecStart=socat PTY,link=/dev/virtualcom0,echo=0,group-late=dialout,mode=660 TCP:172.16.200.50:502,retry=5
Restart=always

[Install]
WantedBy=multi-user.target
